body
{
    font-family:'Montserrat', sans-serif;
    font-size:16px;
}

.color-trybe
{
    color:#11A36A;
}

.session-heading
{
    font-size:28px;
    line-height:42px;
    font-weight:600;
    text-align:center;
}

.picture
{
    border-radius:50%;
}

.font-color-primary
{
    color:#475550
}