body
{
    font-family:'Montserrat', sans-serif;
    font-size:14px;
}

.color-trybe
{
    color:#11A36A;
}

.session-heading
{
    font-size:2em;
    line-height:42px;
    font-weight:600;
    text-align:center;
}

.picture
{
    border-radius:50%;
}