body
{
    font-family:'Montserrat', sans-serif;
    font-size:16px;
}

.color-trybe
{
    color:#11A36A;
}

.session-heading
{
    font-size:28px;
    line-height:42px;
    font-weight:600;
    text-align:center;
}

.picture
{
    border-radius:50%;
}

.font-color-primary
{
    color:#475550
}

h4
{
    font-weight:600;
}

.testimonial-name
{
    font-size:14px;
    line-height:20px;
    font-weight:400;
}

.student-testimonial-name
{
    font-size:14px;
    line-height:20px;
    font-weight:600;
}

.button
{
    color:#FFF;
    background-color:#11A36A;
    border-radius:4px;
    padding:15px 30px;
    text-decoration:none;
    line-height:20px;
    font-weight:700;
}
